version: '3.4'

services:
  db:
    container_name: my_conteinner
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"

  api:
    build: .
    environment:
      POSTGRES_PASSWORD: 12345
    ports:
      - "5192:5192"
    depends_on:
      - db